In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/new-new-york-weather.csv')

C:\Users\hasee\AppData\Local\Temp\ipykernel_49260\760367589.py:1: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/new-new-york-weather.csv')

In [3]:
df

,date,temperature_2m_max,temperature_2m_min,daylight_duration,sunshine_duration,uv_index_max,uv_index_clear_sky_max,rain_sum,showers_sum,snowfall_sum,precipitation_hours,wind_speed_10m_max,wind_gusts_10m_max,latitude,longitude
0,2024-01-01 05:00:00+00:00,1.3405,-5.4095,32828.926,28801.018,NaN,NaN,0,0,0,0,15.463246,31.68,42.6,-73.97
1,2024-01-02 05:00:00+00:00,4.0905,-5.6095,32877.49,26970.928,NaN,NaN,0,0,0,0,14.904173,34.56,42.6,-73.97
2,2024-01-03 05:00:00+00:00,3.4405,-2.7595,32930,7048.836,NaN,NaN,0,0,0,0,10.787993,25.56,42.6,-73.97
3,2024-01-04 05:00:00+00:00,2.5904999,-7.2595,32986.375,28849.451,NaN,NaN,0,0,0.07,1,22.725668,52.199997,42.6,-73.97
4,2024-01-05 05:00:00+00:00,1.1405,-7.2595,33046.516,19035.062,NaN,NaN,0,0,0,0,21.142147,47.88,42.6,-73.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
843952,2011-12-27 05:00:00+00:00,2.625,-0.875,32617.525,0.0,NaN,NaN,7.800001,0,1.05,9,21.67487,46.8,42.65,-77.1
843953,2011-12-28 05:00:00+00:00,2.125,-6.175,32643.697,4547.6123,NaN,NaN,0.0,0,0.21,0,26.882141,65.159996,42.65,-77.1
843954,2011-12-29 05:00:00+00:00,-0.825,-8.125,32674.559,23753.219,NaN,NaN,0.0,0,0.14,0,17.555307,46.44,42.65,-77.1
843955,2011-12-30 05:00:00+00:00,6.175,-1.225,32710.018,24067.945,NaN,NaN,0.0,0,0.0,0,19.64558,42.839996,42.65,-77.1
843956,2011-12-31 05:00:00+00:00,5.475,0.075,32749.955,12309.411,NaN,NaN,2.9,0,0.0,6,18.228943,41.760002,42.65,-77.1

In [7]:
df = df.drop_duplicates(subset='date', keep='first')

In [8]:
df.to_csv('data/new-new-york-weather.csv')